<div align="center">
<h3>search</h3>
<form [formGroup]="searchForm" 
    (ngSubmit)="onSubmit(searchForm.value)">

    <mat-form-field appearance="fill" class="full-width">
        <input matInput formControlName="channel" placeholder="Channel">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill" class="full-width">
        <input matInput formControlName="term" placeholder="Term">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill" class="full-width">
          <input matInput formControlName="name" placeholder="Name">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" class="full-width">
            <input matInput formControlName="day" placeholder="Day">
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill" class="full-width">
            <input matInput formControlName="month" placeholder="Month">
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill" class="full-width">
            <input matInput formControlName="year" placeholder="Year">
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill" class="full-width">
            <input matInput formControlName="subscribe_min" placeholder="Subscribe Months">
          </mat-form-field>
          <br>
            <mat-slide-toggle formControlName="admin">Admin</mat-slide-toggle>
          <br>
            <mat-slide-toggle formControlName="global_mod">Global Mod</mat-slide-toggle>
          <br>
            <mat-slide-toggle formControlName="moderator">Moderator</mat-slide-toggle>
          <br>
            <mat-slide-toggle formControlName="staff">Staff</mat-slide-toggle>
          <br>
            <mat-slide-toggle formControlName="turbo">Turbo</mat-slide-toggle>
          <br>
          <mat-form-field appearance="fill" class="full-width">
            <input matInput formControlName="bits_min" placeholder="Bits Min">
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill" class="full-width">
            <input matInput formControlName="bits_max" placeholder="Bits Max">
          </mat-form-field>
          <br>
    <button mat-raised-button color="primary" type="submit">Search</button>
</form>
</div>